@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300;1,400&display=swap');
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  /* background-color: var(--blue); */
}

:root {
  --Main1: #161853;
  --Main2: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
